@use '../util' as *;

.btn {
  border: 2px solid transparent;
  transition: all 0.2s ease-in-out;
  padding: 0 rem(15);
  height: rem(59);
  line-height: 150%;
  font-weight: 700;
  border-radius: rem(8);
  text-decoration: none;
  width: 100%;
  font-size: var(--fs-med);
  cursor: pointer;

  &-primary {
    background-color: var(--clr-green);
    border-color: var(--clr-green);
    color: var(--clr-white);
    &:link,
    &:visited {
    }

    &:hover {
      background-color: color-mix(in srgb, var(--clr-green), #000 60%);
      border-color: color-mix(in srgb, var(--clr-green), #000 60%);
      color: var(--clr-white);
    }

    &:first-child:active,
    &:active,
    &:active:hover,
    &:focus,
    &:active:focus {
      background-color: color-mix(in srgb, var(--clr-green), #000 10%);
      border-color: color-mix(in srgb, var(--clr-green), #000 12%);
      color: var(--clr-white);
    }

    &-outline {
      background-color: transparent;
      border-color: var(--clr-green);
      color: var(--clr-green);

      &:hover,
      &:active,
      &:active:hover,
      &:focus,
      &:active:focus {
        background-color: var(--clr-green);
        color: var(--clr-white);
      }
    }
  }

  // @include breakpoint(medium) {
  //   height: rem(35);
  //   line-height: rem(35);
  // }
}
