@use '../util' as *;

/* prettier-ignore */
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -1px;
    margin: 0;
    font-size: var(--fs-xlarge);
    margin-bottom: rem(32);
}

// Typescale = 1.250 - Major Third
// https://typescale.com/

p {
  font-size: var(--fs-reg);
}
