@use '../util' as *;

.form {
  &-group {
    display: flex;
    flex-direction: column;
    gap: rem(8);
  }

  label,
  legend {
    position: relative;
    color: hsl(var(--clr-grey-900));
    font: var(--body-sm);

    span {
      color: hsl(var(--clr-green-600));
      margin-inline-start: rem(8);
    }
  }

  input {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: rem(51);
    border: rem(1) solid hsl(var(--clr-grey-500));
    color: hsl(var(--clr-grey-900));
    border-radius: rem(8);
    padding: rem(12) rem(24);
    font: var(--body);
  }

  fieldset {
    margin: 0;
    padding: 0;
    border: none;
  }
}

.error {
  display: none;
  color: hsl(var(--clr-red));
  font: var(--body-sm);
}
