@use '../util' as *;
// https://www.youtube.com/watch?v=P6djqwBKR-k
// https://codepen.io/Dillion/pen/gOZrQga
.input-group {
  margin-bottom: rem(24);
  position: relative;
  width: 100%;
}

label,
legend {
  color: hsl(var(--clr-grey-900));
  font: var(--body-sm);
}

.input-group__label,
legend {
  display: block;
  margin-bottom: rem(8);

  span {
    color: hsl(var(--clr-green-600));
    margin-left: rem(8);
  }
}

.input-group__input {
  padding: rem(8) rem(24);
  border: 1px solid hsl(var(--clr-grey-500));
  border-radius: rem(8);
  height: rem(51);
  width: 100%;
}

.input-group__input,
.input-group__error {
  left: 0;
  position: relative;
}

.input-group__error {
  color: hsl(var(--clr-red));
  font-weight: normal;
  display: none;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

textarea {
  padding: rem(8) rem(24);
  width: 100%;
  border: 1px solid hsl(var(--clr-grey-500));
  border-radius: rem(8);
  height: rem(240);
  margin-bottom: rem(40);

  @include breakpoint(tablet) {
    height: rem(132);
  }
}

.radio__wrapper {
  margin-bottom: rem(24);
  position: relative;

  &-item {
    width: 100%;
  }

  &-label {
    position: relative;
    padding-left: rem(60);
    display: flex;
    align-items: center;
    border: 1px solid hsl(var(--clr-grey-500));
    height: rem(51);
    border-radius: rem(8);
    cursor: pointer;

    .checkmark {
      position: absolute;
      margin: 0;
      top: 50%;
      transform: translateY(-50%);
      left: rem(24);
      height: rem(20);
      width: rem(20);
      border-radius: 50%;
      border: 2px solid hsl(var(--clr-grey-500));

      &::after {
        content: '';
        position: absolute;
        visibility: hidden;
        top: 2px;
        left: 2px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: hsl(var(--clr-green-600));
      }
    }
  }

  input {
    position: absolute;
    opacity: 0;
    margin: 0;
    height: rem(1);
    width: rem(1);

    &:focus + label,
    &:hover + label {
      background-color: hsl(var(--clr-green-200));
      border-color: hsl(var(--clr-green-600));
      transition: var(--transition);
    }

    &:checked + label {
      .checkmark {
        border: none;
        background-image: url(../../../img/icon-radio-selected.svg);
      }
    }
  }
}

.consent__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: rem(40);

  label,
  input {
    cursor: pointer;
  }

  input {
    width: rem(18);
    height: rem(18);
    margin-right: rem(16);

    &:checked {
      appearance: none;
      background-image: url(../../../img/icon-checkbox-check.svg);
    }
  }
}
