@use '../util' as *;

.toast {
  display: flex;
  flex-direction: column;
  gap: rem(8);
  position: absolute;
  top: -100%;
  left: rem(24);
  right: rem(24);
  max-width: rem(450);
  margin-inline: auto;
  background: hsl(var(--clr-grey-900));
  color: hsl(var(--clr-green-200));
  padding: rem(24);
  border-radius: rem(12);
  font: var(--body-sm);
  opacity: 0;

  &-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: rem(8);
    color: hsl(var(--clr-white));
    font: var(--body-bold);
  }

  &.open {
    animation-name: fadeInTop;
    animation-duration: 0.35s;
    opacity: 1;
    top: rem(24);
  }
}

@keyframes fadeInTop {
  0% {
    opacity: 0;
    top: -100%;
  }

  100% {
    opacity: 1;
    top: rem(24);
  }
}
