@use '../util' as *;

.container {
  margin: rem(32) rem(16);
  padding: rem(24);
  border-radius: rem(16);
  max-width: 100%;
  background-color: hsl(var(--clr-white));

  @include breakpoint(tablet) {
    margin-block: rem(128);
    margin-inline: auto;
    padding: rem(40);
    max-width: rem(736);
  }
}
